@font-face {
    font-family: 'blade-runner';
    src: url('/fonts/BladeRunnerMovieFont.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blade-runner';
    src: url('/fonts/BladeRunnerMovieFont.ttf')  format('truetype'), url('/fonts/BladeRunnerMovieFont.svg#BladeRunnerMovieFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    align-items: center;
    background: #000 url('/img/V6Td.gif') no-repeat center center / cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

canvas {
    margin-top: 50px;
    position: absolute;
}

h1 {
    color: #c03d1f;
    font-family: 'blade-runner';
    font-size: 3rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px #fff;
    top: 50px;
}

video {
    margin-top: 100px;
    position: relative;
}

canvas,
video {
    z-index: 1;
}

.loading {
    bottom: 0px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    width: 130px;
}

.results {
    border: thin solid white;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 4;
}

.results p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.test-results {
    bottom: -20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    left: 0;
    letter-spacing: .2rem;
    line-height: 2.5rem;
    opacity: 0.6;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.thanks {
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    position: absolute;
    right: 20px;
}

.thanks a {
    color: #fff;
    font-style: italic;
    opacity: 0.55;
    text-decoration: none;
}

.void-kampff {
    background: #000 url('/img/vk-test.png') no-repeat -674px -139px / 2200px auto;
    height: 800px;
    position: absolute;
    width: 1300px;
    z-index: 0;
}